# Ignore datasets
data/creditcard.csv
data/fraud_detection_credit_card_small.csv

# Python
__pycache__/
*.py[cod]

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# Generated runtime databases & logs
*.db
*.jsonl